body{
	 background-image: linear-gradient(to bottom, #83C7D3 , white);
}
.navbar{
    position: fixed;
    width: 97%;
    z-index: 999;
    padding: 0;
    font-family: 'Ubuntu', arial;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: #686666;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
	margin-left: 25px;
	font-size:30px;
	color: black;
	text-decoration: none;
	font-weight:bold;
}
.navbar .logo span{
	font-size:30px;
	margin-right: 20px;
    color: white}
.navbar .menu li{
    list-style: none;
    display: inline-block;
	 margin-left: 25px; 
	 text-decoration: none;
	
	
}
.navbar .menu li a{
	
    display: block;
    color: black;
    font-size: 24px;
   
    margin-left: 10px;
	text-decoration: none;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: red;
}
.navbar.sticky .menu li a:hover{
    color: red;
}